* {
  color: $font-color;
}

// Un-blur pixel art
img.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; /* Firefox fallback */
  image-rendering: -o-crisp-edges; /* Opera fallback */
}

button,
a {
  &:hover {
    cursor: pointer;
  }
}
