body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  // add margin to vert
}

#root {
  max-width: 750px;
  min-width: 0px;
  width: calc(100% - 4px);
  height: 100vh;
  // when margin is added to vert body
  // do calc for this height
}

header {
  height: 100px;
}

main {
  padding: $spacing-xs;
}

// .top-border {
//   margin: 1px;
//   height: 8px;
//   background-image: radial-gradient(#cacaca 1px, transparent 1px);
//   background-size: 4px 4px;
// }
