// ==========================
// Font Families
// ==========================
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$primary-font: 'Helvetica';
$primary-font: 'JetBrains Mono';
// $primary-font: 'Roboto Mono';

// ==========================
// Font Measurements
// ==========================
$font-size-xs: 0.625rem; 
$font-size-sm: 0.75rem; 
$font-size-md: 0.875rem; 
$font-size-lg: 1rem; 
$font-size-xl: 1.25rem; 

body {
  font-family: $primary-font;
}

// ==========================
// Tag Adjustments
// ==========================
body {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  color: var(--color-foreground-header);
  font-family: $primary-font;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

input {
  font-family: $primary-font !important;
}

button {
  font-family: $primary-font !important;
}

p {
  font-family: $primary-font;
  font-size: $font-size-md;

  &.sm {
    font-size: $font-size-sm;
  }
}

// ==========================
// Common Text Styling
// ==========================

.primary {
  color: var(--color-foreground-default);
}

.border {
  color: var(--color-border-default);
}