// ==========================
// Colors
// ==========================

// COLOR PALETTE TBD

// ==========================
// Spacings
// ==========================
// --- Spacing units ---
$spacing-xs: 0.3125rem;
$spacing-sm: 0.625rem;
$spacing-md: 0.9375rem;
$spacing-lg: 1.5625rem;
$spacing-xl: 2.5rem;

// --- Breakpoints ---
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1800px;

// --- Border thickness ---
$border-thickness-sm: 0.01rem;
$border-thickness-md: 0.07rem;
$border-thickness-lg: 0.1rem;

// --- Border radius ---
$border-radius-sm: 8px;
$border-radius-md: 13px;
$border-radius-lg: 18px;
