// ==========================
// Colors
// ==========================
$primary-color: gray;
$secondary-color: rgb(192, 192, 192);
$tertiary-color: rgba(128, 128, 128, 0.402);

$primary-font-color: black;
$secondary-font-color: rgb(85, 85, 85);

$primary-bg: rgb(180, 180, 180);
$secondary-bg: rgb(217, 217, 217);

// ==========================
// Spacings
// ==========================
// --- Spacing units ---
$spacing-xs: 0.3125rem;
$spacing-sm: 0.625rem;
$spacing-md: 0.9375rem;
$spacing-lg: 1.5625rem;
$spacing-xl: 2.5rem;

// --- Breakpoints ---
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1800px;

// --- Border thickness ---
$border-thickness-sm: 0.01rem;
$border-thickness-md: 0.07rem;
$border-thickness-lg: 0.1rem;

// --- Border radius ---
$border-radius-sm: 8px;
$border-radius-md: 13px;
$border-radius-lg: 18px;
