@media (max-width: #{$breakpoint-xs}) {
  #search-content {
    order: 2;
  }
}

#game-search-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-sm;
}

.search-button {
    svg {
        font-size: 25px;
    }
}

#search-sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-sm;
  margin-bottom: $spacing-md;
}

#search-results-container {
  #results-count {
    margin-bottom: $spacing-xs;
  }
}