// --- Row Cards ---
.row-card--game {
  flex: 0 0 150px;
  max-width: 150px;
}

.row-card--game .row-card__options {
  opacity: 0;
  position: absolute;
  display: flex;
  width: 100%;
  padding: 0 $spacing-lg;
  justify-content: space-around;
  align-items: center;
  margin: $spacing-sm 0;
  bottom: $spacing-sm;
  transition: opacity $transition-fast;

  svg {
    font-size: $font-size-xl;
    transition: stroke $transition-fast;

    &:hover {
      stroke: var(--color-foreground-primary);
      fill: var(--color-foreground-primary);
    }
  }
}

.row-card--game .row-card__game-title {
  opacity: 0;
  position: absolute;
  padding: 0 $spacing-xs;
  width: calc(100% - 2 * $spacing-xs);
  left: $spacing-xs;
  top: 20%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity $transition-fast;
}

.row-card--game .row-card__subheader {
  cursor: auto;
  margin-bottom: 0 !important;
  font-size: $font-size-sm;
  color: var(--color-border-default);
}

.row-card--game .row-card__body:hover {
  img {
    filter: brightness(0.3);
  }

  .row-card__game-title,
  .row-card__options {
    opacity: 1;
  }

  .row-card__banner {
    opacity: 0;
  }
}

// --- Column Cards --
.col-card--game {
  display: flex;
  flex-direction: row !important;

  .col-card__body {
    height: 140px;
    margin-bottom: 0;

    img {
      height: 100%;
    }
  }

  .col-card__info {
    padding: 0 $spacing-sm 0 $spacing-sm;
    flex: 1;
  }

  &:hover {
    cursor: pointer;
    
    .col-card__title {
      text-decoration: underline;
    }
    
    .col-card__info {
      background-color: var(--color-background-subtle);
      border-radius: $border-radius-xs;
    }
  }
}

.col-card--game .col-card__stats {
  display: flex;
  flex-direction: row;
  gap: $spacing-xs;
  align-items: center;

  svg {
    stroke: var(--color-foreground-primary);
  }
}

.col-card--game .col-card__description {
  color: var(--color-foreground-sublte);
  font-size: $font-size-sm;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
