// --- Row Cards ---
.game-poster-card {
  flex: 0 0 150px;
  max-width: 150px;
  min-width: 150px;
}

.game-poster-card .row-card__options {
  opacity: 0;
  position: absolute;
  display: flex;
  width: 100%;
  padding: 0 $spacing-lg;
  justify-content: space-around;
  align-items: center;
  margin: $spacing-sm 0;
  bottom: $spacing-sm;
  transition: opacity $transition-normal;

  svg {
    font-size: $font-size-xl;
    transition: stroke $transition-normal;

    * {
      stroke-width: 40;
    }

    &:hover {
      stroke: var(--color-foreground-primary);
      fill: var(--color-foreground-primary);
    }
  }

  .row-card__ellipsis {
    * {
      stroke-width: 25;
    }
  }
}

.game-poster-card .row-card__game-title {
  opacity: 0;
  position: absolute;
  padding: 0 $spacing-xs;
  width: calc(100% - 2 * $spacing-xs);
  left: $spacing-xs;
  top: 20%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity $transition-fast;
  font-size: $font-size-md;
}

.game-poster-card .row-card__body {
  img {
    border-radius: $border-radius-sm;
    transition: filter $transition-normal;
  }
}

.game-poster-card .row-card__body:hover {
  img {
    filter: brightness(0.3);
  }

  .row-card__game-title,
  .row-card__options {
    opacity: 1;
  }

  .row-card__banner {
    opacity: 0;
  }
}
