@each $name, $color in $accent-colors {
  .#{$name} {
    color: $color;
  }
}

#gc-unit-home {
  margin: auto;
  margin-top: $spacing-md;
  margin-bottom: $spacing-sm;
  aspect-ratio: 1 / 1;
  width: 50px;
  position: relative;
  
  @include floating;
}

#gc-unit-label {
  text-align: center;
  margin-bottom: $spacing-sm;
}

.rank-legend {
  text-align: center;
}