// --- Poster Spread ---
.poster-spread {
  position: relative;

  img {
    position: absolute;
    border-radius: $border-radius-xs;
    transition: filter $transition-fast;
  }
}

// --- List Cards ---
.list-card {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  // THIS LINE WILL CAUSES ERRORS FOR BASIC LIST CARDS ON THE SIDEBAR
  flex: 1 1 225px;
  min-width: 175px;
  max-width: 275px;
  height: fit-content;
}

.list-card--sidebar {
  flex: 1 1 0px;
  margin-bottom: $spacing-sm;
}

.list-card:hover {
  cursor: pointer;

  .poster-spread {
    img {
      filter: brightness(80%);
    }
  }
}

.list-card__content {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.list-card__posters {
  height: 100px !important;

  img {
    height: 100px;
  }
}

.list-card__title {
  display: -webkit-box;
  overflow: hidden;
  color: var(--color-foreground-header);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-card:hover .list-card__title {
  text-decoration: underline;
}

.list-card__account {
  display: flex;
  gap: calc($spacing-xs * 1.5);
  align-items: center;
  font-size: $font-size-sm;
}

.list-card__pfp {
  height: $spacing-lg;
  border-radius: $border-radius-full;
  aspect-ratio: 1/1;
}

.list-card__username {
  font-size: $font-size-sm;
  color: var(--color-foreground-subtle);
}

@media (max-width: #{$breakpoint-md}) {
  .section-sidebar--lists .section__children {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
}