// CARD RELATED
.row-card--list {
  flex: 0 0 225px;
  max-width: 225px;

  .row-card__body {
    height: 100px !important;
    img {
      height: 100px;
      position: absolute;
    }
  }

  &:hover {
    .row-card__list-title {
      text-decoration: underline;
    }
  }
}

// ROW CARD LIST TITLE
.row-card__list-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// ROW CARD LIST USER INFO
.row-card__user {
  display: flex;
  gap: calc($spacing-xs * 1.5);
  align-items: center;
  font-size: $font-size-sm;

  span {
    font-size: $font-size-sm;
    color: $secondary-font-color;
    margin-bottom: 0;
  }

  .row-card__pfp {
    height: $spacing-md;
    aspect-ratio: 1/1;
    border-radius: 1000px;
    background: lime;
  }
}
