// --- Player Cards ---
.row-card--player {
  flex: 0 0 180px;
  max-width: 180px;
  align-items: center;
  padding-top: $spacing-sm;

  &:hover {
    .row-card__username {
      text-decoration: underline;
    }

    .row-card__pfp {
      box-shadow: 0 0 10px 3px black;
    }
  }
}

.row-card--player .row-card__pfp {
  width: calc($spacing-xl * 2);
  border-radius: 1000px;
  aspect-ratio: 1/1;
  background-color: red;
  margin-bottom: $spacing-xs;
} 

.row-card__user-misc {
  display: flex;
  flex-direction: row;

  .row-card__gc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-xs;

    svg {
      font-size: $font-size-md;
    }

    svg * {
      stroke: $color-primary;
      stroke-width: 45;
    }
  }

  p {
    color: $color-text-secondary;
    font-size: $font-size-sm;
  }
}
