// --- Player Cards ---
.player-card {
  flex: 1 1 300px;
  max-width: 300px;
  min-width: 200px;
  border-radius: $border-radius-lg;
  overflow: hidden;
  border: 1px solid var(--color-border-default);
  background-color: var(--color-background-subtle);
  transition: background-color $transition-fast;

  &:hover {
    cursor: pointer;
    background-color: var(--color-background-raised);
  }
}

.player-card__cover {
  padding: $spacing-md;
  padding-bottom: $spacing-lg;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover;
  background-position: bottom;
  height: 85px;
  width: 100%;
  box-shadow: inset 0px -30px 30px 0px var(--color-background-subtle);
  transition: box-shadow $transition-fast;
}

.player-card:hover .player-card__cover{
    box-shadow: inset 0px -30px 30px 0px var(--color-background-raised);
}

.player-card__pfp {
  height: 50px;
  width: 50px;
  border-radius: $border-radius-full;
}

.player-card__add {
  margin-bottom: $spacing-sm;
  height: 25px;
  aspect-ratio: 1/1;  
  border-radius: $border-radius-md;
  padding: $spacing-xs;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-raised-opaque);
  border: 1px solid var(--color-border-subtle);
  transition: color $transition-fast, border-color $transition-fast;

  svg * {
    stroke-width: 50;
  }

  &:hover {
    color: var(--color-foreground-header);
    border-color: var(--color-background-emphasis);
  }
}

.player-card__body {
  padding: 0 $spacing-md;
  padding-bottom: $spacing-md;
}

.player-card__username {
  font-size: $font-size-lg;
  color: var(--color-foreground-header);
  min-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.player-card:hover .player-card__username {
  text-decoration: underline;
}

.player-card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player-card__reviews {
  font-size: $font-size-sm;
  color: var(--color-foreground-subtle);
}

.player-card__gc {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    stroke: var(--color-foreground-primary);
    margin-right: $spacing-xs;

    * {
      stroke-width: 45;
    }
  }
}

// --- Universal Card --- 
