body {
  background-color: $primary-bg;
  background-image: radial-gradient(#cacaca 1px, transparent 1px);
  background-size: 4px 4px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

#root {
  width: calc(100%);
  min-width: 0px;
  max-width: 750px;
  overflow: auto;
  border: 2px solid $primary-color;
  border-top: none;
  border-bottom: none;
  background-color: $secondary-bg;
  padding-bottom: $spacing-lg;
}

#website-container {
  display: flex;
  flex-direction: column;
}

#content-container {
  padding: $spacing-sm;
  display: flex;
  gap: $spacing-lg;

  main {
    order: 0;
    flex: 1;
  }

  aside {
    order: 1;
    width: 30%;
  }
}

section {
  margin-bottom: $spacing-md;
}

@media (max-width: #{$breakpoint-xs}) {
  #content-container {
    flex-direction: column;
  }

  main,
  aside {
    width: 100% !important;
  }
}
