footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-md;

  #footer-content, #footer-copyright {
    color: $secondary-font-color;
    font-size: $font-size-xs;
  }
  
  #footer-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacing-sm;
    
    a {
      color: $secondary-font-color;
      transition: color $transition-fast;
    }

    a:hover {
        color: $primary-color;
    }
  }
}
