// footer {
//   display: flex;
//   flex-direction: column;
//   background-color: $tertiary-color;

//   #footer-decoration {
//     height: 8px;
//     background-image: radial-gradient($primary-color 1px, transparent 1px);
//     background-size: 4px 4px;
//   }

//   #footer-content {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     padding: $spacing-xs $spacing-sm;

//     a {
//       color: black;
//       font-family: $primary-font;
//       font-size: 19px;

//       &:hover {
//         color: $secondary-font-color;
//       }
//     }
//   }

//   #footer-copyright {
//     padding-top: $spacing-xs;
//     width: 100%;
//     text-align: center;
//     font-size: $font-size-xs;
//   }
// }

footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-md;

  #footer-content, #footer-copyright {
    color: $secondary-font-color;
    font-size: $font-size-xs;
  }
  
  #footer-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacing-sm;
    
    a {
      color: $secondary-font-color;
      transition: color $transition-fast;
    }

    a:hover {
        color: $primary-color;
    }
  }
}
