header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid $tertiary-color;

  background-image: url('/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;

  #banner-title {
    text-align: center;
    font-size: 45px;
    line-height: 30px;
    margin: $spacing-md;
    // text-shadow: -2px 2px 0 $skyblue, -4px 4px 0 $blue, -6px 6px 0 $purple;
  }
}
