header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border-bottom: 2px solid $tertiary-color;

  background-image: url('/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;

  #banner-title {
    text-align: center;
    font-size: 45px;
    line-height: 30px;
    margin: $spacing-md;
  }
}
