.nav {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      $bg-color,
      5%,
      $border-color,
      95%,
      $bg-color
    )
    1;

  &__logo {
    svg {
      transition: transform $transition-slow, filter $transition-slow;
    }

    &:hover {
      svg {
        filter: drop-shadow(0 0 4px $primary-color);
        transform: translateY(-$spacing-xs);
      }
    }
  }
}