.section {
  &__header {
    padding: $spacing-sm 0;
    border-bottom: 1px solid $color-border;
    margin-bottom: $spacing-sm;
  }

  &__children {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    width: 100%;
    gap: $spacing-md;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $color-border transparent;
    padding-bottom: $spacing-md;
  }
}

.section-divider {
  display: flex;
  flex-direction: row;
  gap: $spacing-lg;
  width: 100%;

  .section__children {
    flex-direction: column;
  }

  > :first-child {
    flex: 1;
  }

  > :last-child {
    width: 300px;
  }
}

@media (max-width: #{$breakpoint-md}) {
  .section-divider {
    flex-direction: column;

    .section {
      width: 100%;
    }
  }
}
