.section {
  margin-bottom: $spacing-sm;

  &__header {
    font-weight: 400;
    padding: $spacing-sm 0;
    border-bottom: 1px solid var(--color-border-default);
    margin-bottom: $spacing-md;
  }

  &__children {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    width: 100%;
    gap: $spacing-md;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border-default) transparent;
  }
}

.section-divider {
  display: flex;
  flex-direction: row;
  gap: $spacing-xl;
  width: 100%;

  .section__children {
    flex-direction: column;
  }

  > :first-child {
    flex: 1;
  }

  > :last-child {
    width: 300px;
  }
}

@media (max-width: #{$breakpoint-md}) {
  .section-divider {
    flex-direction: column;

    .section {
      width: 100%;
    }
  }
}
