.section {
  margin-bottom: $spacing-xs;

  &__header {
    font-weight: 300;
  }

  &__children {
    padding: $spacing-md 0;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    width: 100%;
    gap: $spacing-md;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border-default) transparent;
  }
}

.section-divider {
  display: flex;
  flex-direction: row;
  gap: $spacing-lg;
  width: 100%;

  .section__children {
    flex-direction: column;
  }

  > :first-child {
    flex: 1;
  }

  > :last-child {
    width: min-content;
  }
}

@media (max-width: #{$breakpoint-md}) {
  .section-divider {
    flex-direction: column;

    .section {
      width: 100%;
    }
  }
}
