@mixin floating(
  $distance: $spacing-md,
  $duration: 4s,
  $ease: ease-in-out,
  $name: floating
) {
  animation: #{$name} #{$duration} #{$ease} infinite;

  @keyframes #{$name} {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-$distance);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@mixin glowing() {
  filter: drop-shadow(0 0 4px $color-primary);
}
