@mixin floating($distance: $spacing-md, $duration: 4s, $ease: ease-in-out) {
  animation: floating #{$duration} #{$ease} infinite;

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-$distance);
    }
    100% {
      transform: translateY(0);
    }
  }
}