@mixin old-style {
  background-color: $primary-bg;
  box-shadow: inset -1px -1px 0 1px black, inset -3px -3px 0 1px $tertiary-color,
    inset 0px 0px 0 2px white, inset 2px 2px 0px 2px $secondary-color;
  text-decoration: none;
  color: black;
}

@mixin old-style-hover {
  box-shadow: inset -1px -1px 0 1px white,
    inset -3px -3px 0 1px $secondary-color, inset 0px 0px 0 2px black,
    inset 2px 2px 0px 2px $tertiary-color;
  background-color: $primary-bg;
}

// mixin for gridded background

@mixin floating($distance: $spacing-md, $duration: 4s, $ease: ease-in-out) {
  animation: floating #{$duration} #{$ease} infinite;

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-$distance);
    }
    100% {
      transform: translateY(0);
    }
  }
}
