// ==========================
// Colors
// ==========================

// MAIN
$primary-color: #978bff;
$secondary-color: #4890fd;
$tertiary-color: #86b4ef;

// FONT
$font-color: white;

// BACKGROUND
$bg-color: #333333;

// ==========================
// Spacings
// ==========================
// --- Spacing units ---
$spacing-xs: 0.3125rem; // 5px  
$spacing-sm: 0.625rem;  // 10px  
$spacing-md: 0.9375rem; // 15px  
$spacing-lg: 1.5625rem; // 25px  
$spacing-xl: 1.875rem;  // 30px  

// --- Breakpoints ---
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1800px;

// --- Border thickness ---
$border-thickness-sm: 0.01rem;
$border-thickness-md: 0.07rem;
$border-thickness-lg: 0.1rem;

// --- Border radius ---
$border-radius-sm: 8px;
$border-radius-md: 13px;
$border-radius-lg: 18px;
