button {
  color: var(--color-foreground-default);
  padding: $spacing-sm;
  font-size: $font-size-md;
  width: fit-content;
  border-radius: $border-radius-sm;
  border: 1px solid var(--color-border-subtle);
  background-color: var(--color-background-subtle);
  transition: background $transition-fast;
}

button:hover {
  background: var(--color-background-raised);
}

.standard-btn {
  color: var(--color-foreground-default);
}

.standard-btn--full {
  width: 100%;
}

.standard-btn--primary {
  color: var(--color-foreground-primary);
  border-color: var(--color-border-primary);
  background: var(--color-background-primary);
}

.standard-btn--test {
  background: var(--color-foreground-primary);
  color: black;
  border-color: var(--color-foreground-primary);
}
