.button,
button {
  font-family: $primary-font;
  font-size: 1.2rem; // Because pixel font is very small

  height: calc($spacing-xl + 5px);
  width: fit-content;
  padding: 0 $spacing-sm;
  display: flex;
  align-items: center;
  justify-content: center;

  @include old-style;
  
  &:hover {
    @include old-style-hover;
  }
}

.search-button {
    svg {
        font-size: 25px;
    }
}
