// ROW SECTION RELATED CARDS
.row-card, .col-card {
  display: flex;
  flex-direction: column;

  &__body {
    margin-bottom: $spacing-xs;
    position: relative;
  }

  &:hover {
    cursor: pointer;
  }
}