.home-card {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      $bg-color,
      5%,
      $border-color,
      95%,
      $bg-color
    )
    1;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  max-width: 750px;
  margin: auto;
  padding: $spacing-md;
  display: flex;
  flex-direction: row;
  gap: $spacing-lg;

  &#home-left {
    .home-card-body {
      order: 100;
    }
  }

  .home-card-body {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-md;

    h3 {
      color: $primary-color;
    }
  }

  .home-card-diagram {
    width: 40%;
  }
}