// ROW SECTION RELATED CARDS
.row-card, .col-card {
  display: flex;
  flex-direction: column;

  &__body {
    margin-bottom: $spacing-xs;
    position: relative;
  }

  &:hover {
    cursor: pointer;
  }
}

.row-card,
.col-card {
  &__banner {
    margin-bottom: 0 !important;
    position: absolute;
    bottom: $spacing-xs;
    right: $spacing-xs;
    border-radius: $border-radius-sm;
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    padding: 0 $spacing-xs;
    background-color: var(--color-background-default-opaque);

    svg * {
      stroke: var(--color-foreground-primary);
      stroke-width: 40;
    }
  }
}
