.chip {
}

.chip--metric {
  margin-bottom: 0 !important;
  position: absolute;
  bottom: $spacing-xs;
  right: $spacing-xs;
  border-radius: $border-radius-sm;
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  padding: 0 $spacing-xs;
  background-color: var(--color-background-default-opaque);
  color: var(--color-foreground-header);

  svg * {
    stroke: var(--color-foreground-primary);
    stroke-width: 40;
  }
}
