.info-box {
    border: 2px solid $primary-color;
    box-shadow: 4px 4px 0px 0px $tertiary-color;
    margin-bottom: $spacing-md;
    
    .top-border {
      margin: 1px;
      height: 8px;
      background-image: radial-gradient($tertiary-color 1px, transparent 1px);
      background-size: 4px 4px;
    }

    .info-box-header {
        border-bottom: 2px solid $primary-color;
        padding: 0 $spacing-xs;
        h4 {
            font-family: $primary-font;
            text-align: left;
            color: $secondary-font-color;
            font-weight: 100;
        }
    }

    .info-box-body {
        padding: $spacing-xs;
    }
}