input {
  color: var(--color-foreground-default);  
  height: $spacing-xl;
  background-color: var(--color-background-subtle);
  padding: 0 $spacing-sm;
  font-size: $font-size-sm;
  transition: border-color $transition-slow;
  border: 1px solid var(--color-border-subtle);
  border-radius: $border-radius-sm;
  padding: $spacing-lg $spacing-md;

   &:focus {
      border-color: var(--color-foreground-primary);
  } 
}

.labeled-input {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.labeled-input__label {
  font-size: $font-size-lg;
}

