input {
  color: var(--color-foreground-default);  
  background-color: var(--color-background-subtle);
  font-size: $font-size-md;
  transition: border-color $transition-slow;
  border: 1px solid var(--color-border-subtle);
  border-radius: $border-radius-sm;
  padding: $spacing-sm;

   &:focus {
      border-color: var(--color-foreground-primary);
  } 
}

.labeled-input {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.labeled-input__label {
  font-size: $font-size-lg;
}

.input-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-md;
}
